<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h1>お問い合わせ</h1>
    <%= link_to "お問い合わせを作成する", new_contact_path, class: 'btn btn-default' %>
      <% @contacts.each do |contact| %>
      <div class="row">
        <p>名前:<%= contact.name %></p>
        <p>email:<%= contact.email %></p>
        <p>本文:<%= contact.content %></p>
        <%= link_to "お問い合わせを編集する", edit_contact_path(contact.id), data: { confirm: '本当に編集していいですか？' }, class: 'btn btn-default btn-sm btn-success' %>
        <br>
        <br>
        <%= link_to 'お問い合わせを削除する', contact_path(contact.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
    </div>
        <br>
      </div>
    <% end %>
  </div>
</div>